@charset "utf-8";
.main_container {
	width: 1279px;
	margin:0px auto;
	padding:0px;
	top:0px;
}
#submitted {
}

.copyright {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #999;
	text-align: center;
}
.submitted_text {
	font-family: 'Belgrano', serif;
	text-align: center;
	font-size: 24px;
	color: #39C;
}

.about_img {
	float: left;
	margin-right: 40px;
	margin-left: 50px;
	margin-bottom: 50px;
}


.footer_links {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #333;
	text-decoration: none;
}
.form_labels {
	font-family: 'Belgrano', serif;
	font-size: 18px;
	color: #999;
	vertical-align: middle;
}


li.footer_sub_cat{
	margin-left:25px;	
}

a.footer_links:hover {
	color: #39C;	
}

.footer_divs {
	float: left;
	margin-left: 50px;
}

.clearfix {
	clear: both;
}


.social_item {
	font-size: 0px;
	text-align: right;
	position: relative;
	margin-top: 0px;
	padding-top: 0px;
	top: 0px;
	float: right;
}

.social_network {
	position: relative;
	width: 95%;
	margin: 0px;
	padding: 0px;
	top: 0px;
}
.home_desc {
	font-family: 'Belgrano', serif;
	font-size: 20px;
	padding-top: 150px;
	margin-top: 0px;
	font-weight: normal;
}


body{
	margin:0px !important;
	padding:0px;
	top:0px;	
}
.logo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: #666;
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.menu_links{
	color: #666;
	text-decoration: none;
	font-size: 18px;
}
.footer_sub_cat {
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
}
.tech_img {
	margin-left: 30px;
	padding-left: 30px;
}

.tech_logos {
	margin-left: 140px;
}

.home_desc_lower {
	font-family: 'Belgrano', serif;
	margin-top: 0px;
	padding-top: 0px;
	font-size: 16px;
	text-align: justify;
	font-weight: lighter;
}


a.menu_links:active {
	color: #F00;	
}

a.menu_links:hover {
	color: #39C;	
}

.we_are_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 135px;
	color: #336;
	font-weight: bolder;
	float: left;
	margin-top: 20px;
	padding-top: 20px;
	margin-right: 30px;
}
.home_img {
	margin-left: 40px;
}
.service_title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 72px;
	color: #0CC;
	float: left;
	margin-right: 30px;
	margin-left: 50px;
}
.if_text {
	font-family: 'Belgrano', serif;
	font-size: 72px;
	color: #39C;
	margin-bottom: 0px;
}

.then_text{
	font-family: 'Belgrano', serif;
	font-size: 72px;
	color: #39C;
	margin-bottom: 0px;
	margin-top:40px;
}

.if_subs {
	float: left;
	margin-top: 65px;
	margin-left: 20px;
}

.then_subs{
	float: left;
	margin-top: 43px;
	margin-left: 20px;
}
.if_subs_text {
	font-family: 'Belgrano', serif;
	color: #999;
}

.if_subs_text {
	font-family: 'Belgrano', serif;
	color: #999;
}


.service_desc{
	font-family: 'Belgrano', serif;
	font-size: 20px;
	font-weight: normal;
	padding-right: 50px;
	padding-left: 50px;
}
p.service_desc:first-letter{
	margin-left: 4em;	
}

body#services a#ser, body#profile a#pro, body#contact a#con{
	color: #39C;
}
.if_div {
	margin-left: 200px;
}

.form_div{
	margin-left: 160px;
	margin-top: 20px;	
}

.then_div {
	margin-left: 92px;
}

.foru_div{
	margin-left: 145px;	
}
input[type="text"]{
	width:350px;
	margin-left: 20px !important;
}

input[type="text"], textarea{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7;
	border: 1px solid #c8c8c8;
	color: #777;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	margin-left: 0;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

input[type="text"]:focus, textarea:focus{
	-webkit-box-shadow: 0 0 2px #39C inset;
	-moz-box-shadow: 0 0 2px #39C inset;
	-ms-box-shadow: 0 0 2px #39C inset;
	-o-box-shadow: 0 0 2px #39C inset;
	box-shadow: 0 0 2px #39C inset;
	background-color: #fff;
	border: 1px solid #39C;
	outline: none;
}

input[type="button"]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7;
	border: 1px solid #c8c8c8;
	color: #777;
	font-family: 'Belgrano', serif;
	font-weight: bold;
	margin: 3px;
	padding: 2px;
	font-size: 18px;
	color: #CCC;
}

input[type="button"]:hover{
	-webkit-box-shadow: 0 0 2px #39C inset;
	-moz-box-shadow: 0 0 2px #39C inset;
	-ms-box-shadow: 0 0 2px #39C inset;
	-o-box-shadow: 0 0 2px #39C inset;
	box-shadow: 0 0 2px #39C inset;
	border: 1px solid #39C;
	outline: none;	
	color: #CCC;
}

input[type="button"]:active{
	background-color:#39C;	
}

.about_title{
	font-family: 'Belgrano', serif;
	font-size: xx-large;
	color: #666;
}
.fill_it {
	color: #F00;
	font-family: 'Belgrano', serif;
	font-size: 16px;
	display: inline;
}
